/* Global Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jacquard 24','Roboto', sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( white 50%,darkred 100%)
}

header {
    background-color: #000;
    color: white;
    background-image: url("../img/MORI-0013.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw ;
    justify-content: center;
    display: flex;
    max-width: 100vw;
}

header h1{
    padding-top: 2vw;
    padding-bottom: 2vw;
    animation: pulsate 4s linear infinite;
    animation-iteration-count: infinite;
}

header h1 a {
    font-size: 6vw;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px #000;
    max-width: fit-content;
}

header h1 a:hover {
    color: darkred;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 5px 5px 5px #000;
}

#dark-mode {
    background-color: #000;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5vw;
    display: none;
}

#dark-mode:hover {
    background-color: #333;
}

#menu-button {
    text-align: center;
    vertical-align: middle;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 3vw;
    display: none;
}

#menu {
    background-color: darkred;
    z-index: 1000;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: fit-content;
    height: 100%;
    max-height: 100vh;
}

nav {
    position: relative;
    color: white;
    display: flex;
    justify-content: flex-start;
}

nav ul {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left : 10px;
}

nav ul li {
    margin-right: 10px;
    font-size: 6vh;
}

nav ul li a.active {
    background-color: #333;
}

nav ul li img {
    border-radius: 60%;
    margin: 10px;
    background-color:#50396D;
    transform: scaleX(-1);
    border: #000 solid 5px;
}

nav ul li img:hover {
    background-color: #74235D;
    transform: scaleX(-1) scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

nav ul li a {
    font-family: 'Jacquard 24','Roboto', sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 3vw;
}

nav ul li a:hover {
    background-color: #333;
    color: #f0f0f0;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Jersey 15', sans-serif;
}

section {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 60%;
}

h2 {
    font-size: 3vw;
}

ul {
    font-size: 1.5em;
    font-family: 'Jersey 15', sans-serif;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
    animation: ease-in-out 1s pulsate;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #000;
    transition: transform 0.3s;
}

.gallery img:nth-child(2n){
    background-color: #50396D;
}
.gallery img:nth-child(2n+1){
    background-color: #74235D;
}

.gallery img:nth-child(2n):hover {
    background-color: #6E7ADC;
}

.gallery img:nth-child(2n+1):hover {
    background-color: #A546A1;
}

.gallery img:hover {
    transform: scale(1.1);
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    border: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5vw;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #000;
    background-color: #FFF0F5;
}

table, th, td {
    border: 1px solid #000;
    text-shadow: 2px 2px 2px #AAA;
}
th, td {
    padding: 10px;
    text-align: center;
}

tr:first-child {
    background-color: darkred;
    color: white;
}

tr td:first-child {
    font-weight: bold;
    color: darkmagenta;
}

td a {
    text-decoration: none;
    color: darkred;
}

td a:hover {
    text-decoration: underline;
    color: #74235D;
}

form {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

form input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: lightgray;
}

form input:focus {
    background-color: rgba(255,150,150,0.5);
}

form input:invalid:hover {
    background-color: rgba(255, 150, 150, 0.5);
}

form input:hover{
    border: 2px solid #000;
}

form input:valid:focus {
    background-color: rgba(150,255,150,0.5);
}

form input:valid {
    background-color: rgba(200,255, 200, 0.5);
}

form select {
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: lightgray;
}

form select option:nth-child(2n+1){
    background-color: lightgrey;
}

form select option:nth-child(2n) {
    background-color: grey;
}

form select:has(option[value=""]:checked):focus {
    background-color: rgba(255,150,150,0.5);
}

form select:has(option[value=""]:checked):hover {
    background-color: rgba(255, 150, 150, 0.5);
    border: 2px solid #000;
}

form select:has(option[value=""]:not(:checked)){
    background-color: rgba(200,255,200,0.5);
}

form select:has(option[value=""]:not(:checked)):focus {
    background-color: rgba(150, 255, 150, 0.5);
}

form select:has(option[value=""]:not(:checked)):hover {
    border: 2px solid #000;
}

form button {
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    font-family: 'Jacquard 24';
}

form:valid button {
    background-color: darkred;
}

form:valid button:hover {
    background-color: #74235D;
}

form:valid button:active {
    background-color: #50396D;
}

form:valid button:focus {
    background-color: #50396D;
}

footer {
    color: darkred;
    text-align: center;
    height: fit-content;
    font-size: small;
    padding: 2px;
    background-color: #000;
    font-family: 'roboto', sans-serif;
}

#mori_jumpscare {
    display: none;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    object-fit: contain;
    background-color: rgba(0,0,0,0.7);
    animation: pulsate 1s infinite ease-in;
    animation-duration: 5s;
}


/* Animation */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}


/* Media Queries */
/* Small mobile */
@media only screen and (max-width: 369px){

    header h1 a {
        font-size: 10vw;
        padding-bottom: 0;
        padding-top: 0;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        overflow-x: hidden;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        justify-content: center;
        animation: ease-in-out 1s pulsate;
    }
    #menu-button {
        display: block;
    }

    #menu {
        position: relative;
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
        height: 20px;
    }

    #menu nav ul {
        display: none;
    }

    #menu.open ul {
        display: block;
    }

    nav {
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    nav ul {
        gap: 5px;
        display: inline-flex;
        justify-content: center;
        margin-left: 20px;
    }

    nav ul li {
        display: block;
        margin: 0;
    }

    nav ul li img {
        display: none;
    }

    footer{
        font-size: 3vw;
    }
}

/* Mobile */
@media only screen and (min-width: 368px) and (max-width: 992px) {
    header h1 a{
        font-size: 10vw;
        padding-bottom: 0;
        padding-top: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    #menu {
        position: relative;
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
    }
    nav {
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    nav ul {
        gap: 5px;
        display: inline-flex;
        justify-content: center;
        margin-left: 20px;
    }

    nav ul li {
        display: block;
        margin: 0;
    }

    nav ul li a {
        font-size: 3vw;
    }

    nav ul li img {
        display: none;
    }

    form {
        width: 80%;
    }

    form button {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 1200px) {
    body{
        font-size: 1vw;
    }
    
    header h1 a{
        font-size: 5vw;
    }

    h2{
        font-size: 3vw;
    }

    nav ul li{
        font-size: 6vh;
    }

    nav ul li a {
        font-size: 2vw;
    }

}


